.breadcrumbs {

    // margin-top: 164px;
    // margin-bottom: 60px;
    

    &__inner {
        padding: 24px 0;
        max-width: 100vw;
        // background-color: rgba(255, 122, 80, 0.1);
        background-color: $silver-100;
    }
    
    &__list {
         display: flex;
         @include line-clamp(1);
    }

    &__item {
    
       margin-right: 5px;

       &:last-child {
           
            .breadcrumbs__icon {
                display: none;
                margin-right: 0;
            }
       }
    }

    &__link {
        font-size: 14px;
        letter-spacing: 3%;
        line-height: 1.2;
        color: $dark-500;
        margin-right: 5px;
    }

    &__icon {
        width: 6px;
        height: 10px;
        fill: $silver-600;
    }
}