.footer {
    background-color: $dark-800;
    padding: 30px 0 24px;
    // .footer_inner

    &_inner {
        display: flex;
        justify-content: space-between;
        height: 108px;
        margin-bottom: 30px;
    }

    // .footer__top

    &__top {}

    // .footer__form

    &__form {
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        align-items: center;
        // height: 40px;
    }

    // .footer__subtitle

    &__subtitle {
        color: $white;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 18px;
    }

    // .footer__email

    &__email {
        background-color: $white;
        height: 40px;
        padding: 12px;
    }

    // .footer__btn

    &__btn {
        text-transform: uppercase;
        background-color: $accent;
        color: $white;
        padding: 12px 16px;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.4;
        height: 40px;
    }

    // .footer__menu

    &__menu {
       
    }

    // .footer__list

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 130px;
        width: 467px;
        align-content: space-between;
        // width: 100%;
    }

    // .footer__item

    &__item {
        margin-bottom: 18px;
    }

    // .footer__link

    &__link {
        color: $white;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;

    }

    // .footer__contacts

    &__contacts {}

    // .footer__address

    &__address {
        margin-bottom: 18px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
    }

    // .footer__phone

    &__phone {
        color: $white;
        display: block;
        margin-bottom: 18px;
    }

    // .footer__local

    &__local {
        color: $white;
        display: block;
    }

    // .footer__social

    &__social {
        display: flex;
    }

    // .footer__network

    &__network {

        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    // .footer__site

    &__site {}

    // .footer__icon

    &__icon {
        width: 32px;
        height: 32px;
        fill: $white;
    }

    &__copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
    }

    // .footer__copy

    &__copy {
        text-transform: uppercase;
        color: $white;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }

    // .footer__credit

    &__credit {
        
    }

    // .footer__card

    &__card {
        height: 29px;
        fill: $white;
        // width: fit-content;

        &:not(:last-child) {
            margin-right: 24px;
        }

        &:first-child {
            max-width: 93px;
        }

        &:last-child {
            max-width: 48px;
        }

    }
}

.logo {
    display: inline-block;
    margin-bottom: 30px;

    &__img {
        width: 200px;
        height: 60px;
    }
}