<section class="breadcrumbs">
    <div class="breadcrumbs__inner">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="/">
                        Главная 
                    </a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="images/sprite.svg#next_arrow"></use>
                    </svg>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">
                        Каталог товаров
                    </a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="images/sprite.svg#next_arrow"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>