<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <a href="#" class="logo">
                <img class="logo__img" src="images/logo.svg" alt="logo" width="200" height="60">
            </a>
        </div>
        <div class="footer_inner">
            <div class="footer__subscribe">
                <h4 class="footer__subtitle">
                    Следите за нашими акциями
                </h4>
                <form class="footer__form">
                    <input class="footer__email" name="form" type="email" placeholder="email@email.com">
                    <input class="footer__btn" type="button" value="Подписаться">
                </form>
            </div>
            <nav class="footer__menu">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            О нас
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Контакты
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Публичная оферта
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Оплата и доставка
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Вакансии
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Акции
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Отзывы
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Новости
                        </a>
                    </li>
                </ul>
            </nav>
            <address class="footer__contacts">
                <div class="footer__address">
                    <a class="footer__phone" href="tel:+7907288365">
                        Горячая линия +7 907 288 365
                    </a>
                    <span class="footer__local">
                        Санкт-Петербург, ул. Ленина, 1
                    </span>

                </div>
                <ul class="footer__social">
                    <li class="footer__network">
                        <a class="footer__site" href="www.facebook.com" target="_blank">
                            <svg class="footer__icon">
                                <use xlink:href="images/sprite.svg#facebook_icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__network">
                        <a class="footer__site" href="www.youtube.com" target="_blank">
                            <svg class="footer__icon">
                                <use xlink:href="images/sprite.svg#youtube_icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__network">
                        <a class="footer__site" href="www.telegram.com" target="_blank">
                            <svg class="footer__icon">
                                <use xlink:href="images/sprite.svg#telegram_icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__network">
                        <a class="footer__site" href="www.instagram.com" target="_blank">
                            <svg class="footer__icon">
                                <use xlink:href="images/sprite.svg#instagram_icon"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="footer__bottom">
                <div class="footer__copy">
                    © 2021 Фрешок
                </div>
                <div class="footer__credit">
                    <svg class="footer__card">
                        <use xlink:href="images/sprite.svg#visa"></use>
                    </svg>
                    <svg class="footer__card">
                        <use xlink:href="images/sprite.svg#mastercard"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</footer>