<header class="header" id="header">
    <div class="header__top">
        <div class="container">
            <nav class="menu">
                <button class="burger" type="button">
                    <span class="burger__line"></span>
                    <span class="sr-only">Мобильное меню</span>
                </button>
                <div class="menu__actions">
                    <a class="menu__delivery" href="#">
                        <svg class="menu__delivery--icon">
                            <use xlink:href="images/sprite.svg#delivery_icon"></use>
                        </svg>
                        <span class="menu__delivery--text" href="#">
                            Адрес и время доставки
                        </span>
                    </a>
                    <a class="menu__phone" href="#">
                        <svg class="menu__phone--icon">
                            <use xlink:href="images/sprite.svg#tel_icon"></use>
                        </svg>
                        <span class="menu__phone--text" href="#">
                            Горячая Линия 24/7
                        </span>
                    </a>
                </div>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Доставка
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            О нас
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Новости
                        </a>
                    </li>
                </ul>
                <div class="mobile">
                    <div class="mobile__top">
                        <a class="logo" href="#">
                            <img class="mobile__logo" src="images/logo__green.svg" alt="Logo" width="200" height="60">
                        </a>
                        <button class="mobile__close"></button>
                    </div>
                    <div class="mobile__user">
                        <button class="mobile__enter">
                            <svg class="mobile__user--icon">
                                <use xlink:href="images/sprite.svg#user_icon"></use>
                            </svg>
                            Вход
                        </button>
                        <button class="mobile__registration">
                            Регистрация
                        </button>
                    </div>
                    <!-- <div class="mobile__catalog">

                    </div> -->
                    <address class="mobile__contacts">
                        <div class="mobile__address">
                            <a class="mobile__phone" href="tel:+7907288365">
                                <svg class="mobile__phone--icon">
                                    <use xlink:href="images/sprite.svg#tel_icon"></use>
                                </svg>
                                +7 907 288 365
                            </a>
                            <span class="mobile__local">
                                <svg class="mobile__local--icon">
                                    <use xlink:href="images/sprite.svg#local_icon"></use>
                                </svg>
                                Санкт-Петербург, ул. Ленина, 1
                            </span>
        
                        </div>
                        <ul class="mobile__social">
                            <li class="mobile__network">
                                <a class="mobile__site" href="www.facebook.com" target="_blank">
                                    <svg class="mobile__icon">
                                        <use xlink:href="images/sprite.svg#facebook_icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="mobile__network">
                                <a class="mobile__site" href="www.youtube.com" target="_blank">
                                    <svg class="mobile__icon">
                                        <use xlink:href="images/sprite.svg#youtube_icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="mobile__network">
                                <a class="mobile__site" href="www.telegram.com" target="_blank">
                                    <svg class="mobile__icon">
                                        <use xlink:href="images/sprite.svg#telegram_icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="mobile__network">
                                <a class="mobile__site" href="www.instagram.com" target="_blank">
                                    <svg class="mobile__icon">
                                        <use xlink:href="images/sprite.svg#instagram_icon"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </address>
                    <ul class="mobile__list">
                        <li class="mobile__item">
                            <a class="mobile__link" href="#">
                                О нас
                            </a>
                        </li>
                        <li class="mobile__item">
                            <a class="mobile__link" href="#">
                                Контакты
                            </a>
                        </li>
                        <li class="mobile__item">
                            <a class="mobile__link" href="#">
                                Публичная оферта
                            </a>
                        </li>
                        <li class="mobile__item">
                            <a class="mobile__link" href="#">
                                Оплата и доставка
                            </a>
                        </li>
                        <li class="mobile__item">
                            <a class="mobile__link" href="#">
                                Вакансии
                            </a>
                        </li>
                        <li class="mobile__item">
                            <a class="mobile__link" href="#">
                                Акции
                            </a>
                        </li>
                        <li class="mobile__item">
                            <a class="mobile__link" href="#">
                                Отзывы
                            </a>
                        </li>
                        <li class="mobile__item">
                            <a class="mobile__link" href="#">
                                Новости
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__inner">
                <a class="header__logo logo" href="#">
                    <img class="logo__img" src="images/logo.svg" alt="Logo" width="200" height="60">
                </a>

                <!-- <select class="header__catalog" name="" id="catalog">
            <svg class="header__catalog--icon">
                <use xlink:href="images/sprite.svg#nav_icon"></use>
            </svg>
        <option value="catalog">
            Каталог продуктов
        </option>
        <option value="vegetables">
            Овощи и фрукты
        </option>
        <option value="bak">
            Бакалея
        </option>
        <option value="milk">
            Молочные продукты
        </option>
        <option value="meat">
            Мясо
        </option>
        <option value="sauseadge">
            Колбаса
        </option>
        <option value="fish">
            Рыба
        </option>
        <option value="alcohol">
            Алкоголь
        </option>
        <option value="drinks">
            Напитки
        </option>
        <option value="sweets">
            Торты
        </option>
        <option value="meats">
            Мясо
        </option>
        <option value="tea">
            Чай, кофе
        </option>
    </select> -->
                <div class="header-dropdown dropdown">
                    <div class="header-dropdown__wrapper dropdown__wrapper">
                        <button class="header-dropdown__button dropdown__button">
                            Каталог продуктов
                        </button>
                        <ul class="header-dropdown__list dropdown__list">
                            <li class="header-dropdown__item dropdown__item" data-value="fruits">
                                Овощи и фрукты
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="bak">
                                Бакалея
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="milk">
                                Молочные продукты
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="bread">
                                Хлеб
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="meat">
                                Мясо
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="sausage">
                                Колбаса
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="fish">
                                Рыба
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="alcohol">
                                Алкоголь
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="drinks">
                                Напитки
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="sweets">
                                Торты
                            </li>
                            <li class="header-dropdown__item dropdown__item" data-value="tea">
                                Чай, кофе
                            </li>

                        </ul>
                        <input class="header-dropdown__input dropdown__input" type="text" value="">
                    </div>
                </div>
                <form class="header__form search" action="#">
                    <input class="search__input" name="input" type="text" placeholder="Найти в магазине ...">
                    <button class="search__btn" type="submit">
                        Поиск
                    </button>
                </form>
                <button class="mobile__search" type="button">
                    <svg class="mobile__search--icon">
                        <use xlink:href="images/sprite.svg#search_icon"></use>
                    </svg>
                </button>
                <a class="header__user user" href="#">
                    <svg class="user__icon">
                        <use xlink:href="images/sprite.svg#user_icon"></use>
                    </svg>
                </a>
                <a class="header__favorite favorite" href="#">
                    <span class="favorite__quantity">
                        12
                    </span>
                    <svg class="favorite__icon">
                        <use xlink:href="images/sprite.svg#favorite_icon"></use>
                    </svg>
                </a>
                <div class="header__cart cart">
                    <a class="cart__link" href="#">
                        <span class="cart__quantity">
                            12
                        </span>
                        <svg class="cart__icon">
                            <use xlink:href="images/sprite.svg#cart_icon"></use>
                        </svg>
                    </a>
                    <div class="cart__wrapper">
                        <div class="cart__inner">
                            <div class="cart__top">
                                <h5 class="cart__title">
                                    Корзина
                                </h5>
                                <div class="cart__clean">
                                    Очистить корзину
                                </div>
                            </div>
                            <button class="cart__close">
                                <svg class="cart__close--icon">
                                    <use xlink:href="images/sprite.svg#close_icon"></use>
                                </svg>
                            </button>
                        </div>
                        <ul class="cart__list">
                            <li class="cart__item">

                            </li>
                            <li class="cart__item">

                            </li>

                        </ul>
                        <div class="cart__total">
                            Товаров на сумму
                            <span class="cart__sum">
                                2038₽
                            </span>
                        </div>
                        <button class="cart__order">
                            Оформить заказ
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>


</header>