<div class="container">
    <ul class="banners">
        <li class="banners__item" style="background-image: url(images/banners/1.jpg);">
            <h4 class="banners__title">
                Свежайшие фруктьі
            </h4>
            <div class="banners__subtitle">
                Начни фруктовое лето всего от 99 ₽
            </div>
            <a class="banners__link" href="/catalog.html">
                Перейти к покупкам
            </a>
        </li>
        <li class="banners__item" style="background-image: url(images/banners/2.jpg);">
            <h4 class="banners__title">
                Сезонная распродажа
            </h4>
            <div class="banners__subtitle">
                Овощепад до -50%
            </div>
            <a class="banners__link" href="/catalog.html">
                Перейти к покупкам
            </a>
        </li>
        <li class="banners__item" style="background-image: url(images/banners/3.jpg);">
            <h4 class="banners__title">
                Ням-ням
            </h4>
            <div class="banners__subtitle">
                Свежий хлебчик
            </div>
            <a class="banners__link" href="/catalog.html">
                Перейти к покупкам
            </a>
        </li>
    </ul>
</div>