<div class="brands">
    <div class="container">
        <ul class="brands__list">
            <li class="brands__item">
                <a class="brands__link" href="#" target="blank">
                    <img class="brands__img" src="images/brands/1.svg" alt="sprite">
                </a>
                
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#" target="blank">
                    <img class="brands__img" src="images/brands/2.svg" alt="dr.pepper">
                </a>
                
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#" target="blank">
                    <img class="brands__img" src="images/brands/3.svg" alt="coca-cola">
                </a>
                
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#" target="blank">
                    <img class="brands__img" src="images/brands/4.svg" alt="pepsi">
                </a>
                
            </li>
            <li class="brands__item">
                <a class="brands__link" href="#" target="blank">
                    <img class="brands__img" src="images/brands/5.svg" alt="red bull">
                </a>

            </li>
            <li class="brands__item">
                <a class="brands__link" href="#" target="blank">
                    <img class="brands__img" src="images/brands/6.svg" alt="fanta">
                </a>
                
            </li>
        </ul>
    </div>
</div>