<section class="news">
    <div class="container">
        <div class="news__top">
            <h2 class="news__title title">
Наши новости
            </h2>
            <a class="news__all" href="#">
Все новости
            </a>
        </div>
        <ul class="news__inner">
            <li class="news__item">
                <div class="news__date">
                    <span class="news__month">
Июль
                    </span>
                    <span class="news__number">
15
                    </span>
                </div>
                <img class="news__image" src="images/news/1.jpg" alt="news" width="410" height="240">
                <div class="news__text">
                    <p>
                        Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!
                    </p>
                </div>
            </li>
            <li class="news__item">
                <div class="news__date">
                    <span class="news__month">
Май
                    </span>
                    <span class="news__number">
07
                    </span>
                </div>
                <img class="news__image" src="images/news/2.jpg" alt="news" width="410" height="240">
                <div class="news__text">
                    <p>
                        Шикарнейший выбор манго в нашем онлайн-маркете
                    </p>
                </div>
            </li>
            <li class="news__item">
                <div class="news__date">
                    <span class="news__month">
Февраль
                    </span>
                    <span class="news__number">
20
                    </span>
                </div>
                <img class="news__image" src="images/news/3.jpg" alt="news" width="410" height="240">
                <div class="news__text">
                    <p>
                        Всё, что вы хотели знать о папайя
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>