<section class="promo section">
    <div class="container">
        <h2 class="promo__title title">
            Акции
        </h2>
        <div class="promo__wrapper" data-ref="container-2">
            <ul class="promo__filters">
                <li class="promo__filter">
                    <button class="promo__btn mixitup-control-active" data-filter="all" type="button">
                        Все товарьі
                    </button>
                </li>
                <li class="promo__filter">
                    <button class="promo__btn" data-filter=".category-a" type="button">
                        Новинки
                    </button>
                </li>
                <li class="promo__filter">
                    <button class="promo__btn" data-filter=".category-b" type="button">
                        Хитьі
                    </button>
                </li>
            </ul>
            <ul class="promo__content">
                <li class="promo__item mix category-a">
                    <article class="promo__card card-promo">
                        <a class="card-promo__link" href="#">
    
                        </a>
                        <span class="card-promo__badge card-promo__news">
    Новинка
                        </span>
                        <img class="card-promo__img" src="images/promo/1.jpg" width="100" height="100" alt="promo">
                        <div class="card-promo__items">
                            <h4 class="card-promo__description">
                                Ананас, 1 кг
                            </h4>
                            <span class="card-promo__availability card-promo__available">
                                В наличии
                            </span>
                            <div class="card-promo__prices">
                                <span class="card-promo__new">
                                    999₽
                                </span>
                                <span class="card-promo__old">
                                    1999 ₽
                                </span>
                                <span class="card-promo__rating">
                                    4.5
                                    <svg class="card-promo__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="promo__item mix category-a">
                    <article class="promo__card card-promo">
                        <a class="card-promo__link" href="#">
    
                        </a>
                        <span class="card-promo__badge card-promo__news">
    Новинка
                        </span>
                        <img class="card-promo__img" src="images/promo/2.jpg" width="100" height="100" alt="promo">
                        <div class="card-promo__items">
                            <h4 class="card-promo__description">
                                Кофе с коноплей органический Caffé Salomoni 250г
                            </h4>
                            <span class="card-promo__availability card-promo__ends">
                                Заканчивается
                            </span>
                            <div class="card-promo__prices">
                                <span class="card-promo__new">
                                    777₽
                                </span>
                                <span class="card-promo__old">
                                    877 ₽
                                </span>
                                <span class="card-promo__rating">
                                    4.9
                                    <svg class="card-promo__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="promo__item mix category-a">
                    <article class="promo__card card-promo">
                        <a class="card-promo__link" href="#">
    
                        </a>
                        <span class="card-promo__badge card-promo__news">
    Новинка
                        </span>
                        <img class="card-promo__img" src="images/promo/3.jpg" width="100" height="100" alt="promo">
                        <div class="card-promo__items">
                            <h4 class="card-promo__description">
                                Клубника, 1 кг
                            </h4>
                            <span class="card-promo__availability card-promo__not-available">
                                Нет в наличии
                            </span>
                            <div class="card-promo__prices">
                                <span class="card-promo__new">
                                    440₽
                                </span>
                                <span class="card-promo__old">
                                    600 ₽
                                </span>
                                <span class="card-promo__rating">
                                    5.0
                                    <svg class="card-promo__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="promo__item mix category-a">
                    <article class="promo__card card-promo">
                        <a class="card-promo__link" href="#">
    
                        </a>
                        <span class="card-promo__badge card-promo__news">
    Новинка
                        </span>
                        <img class="card-promo__img" src="images/promo/4.jpg" width="100" height="100" alt="promo">
                        <div class="card-promo__items">
                            <h4 class="card-promo__description">
                                Манго, 1 шт
                            </h4>
                            <span class="card-promo__availability card-promo__available">
                                В наличии
                            </span>
                            <div class="card-promo__prices">
                                <span class="card-promo__new">
                                    660₽
                                </span>
                                <span class="card-promo__old">
                                    960 ₽
                                </span>
                                <span class="card-promo__rating">
                                    5.0
                                    <svg class="card-promo__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="promo__item mix category-a">
                    <article class="promo__card card-promo">
                        <a class="card-promo__link" href="#">
    
                        </a>
                        <span class="card-promo__badge card-promo__news">
    Новинка
                        </span>
                        <img class="card-promo__img" src="images/promo/5.jpg" width="100" height="100" alt="promo">
                        <div class="card-promo__items">
                            <h4 class="card-promo__description">
                                Лосось, 1 кг
                            </h4>
                            <span class="card-promo__availability card-promo__available">
                                В наличии
                            </span>
                            <div class="card-promo__prices">
                                <span class="card-promo__new">
                                    999₽
                                </span>
                                <span class="card-promo__old">
                                    1199 ₽
                                </span>
                                <span class="card-promo__rating">
                                    4.5
                                    <svg class="card-promo__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="promo__item mix category-b">
                    <article class="promo__card card-promo">
                        <a class="card-promo__link" href="#">
    
                        </a>
                        <span class="card-promo__badge card-promo__hit">
    Хит
                        </span>
                        <img class="card-promo__img" src="images/promo/6.jpg" width="100" height="100" alt="promo">
                        <div class="card-promo__items">
                            <h4 class="card-promo__description">
                                Сок Granini овощной 100%, 0.5л
                            </h4>
                            <span class="card-promo__availability card-promo__ends">
                                Заканчивается
                            </span>
                            <div class="card-promo__prices">
                                <span class="card-promo__new">
                                    180₽
                                </span>
                                <span class="card-promo__old">
                                    230 ₽
                                </span>
                                <span class="card-promo__rating">
                                    4.9
                                    <svg class="card-promo__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="promo__item mix category-b">
                    <article class="promo__card card-promo">
                        <a class="card-promo__link" href="#">
    
                        </a>
                        <span class="card-promo__badge card-promo__hit">
    Хит
                        </span>
                        <img class="card-promo__img" src="images/promo/7.jpg" width="100" height="100" alt="promo">
                        <div class="card-promo__items">
                            <h4 class="card-promo__description">
                                Фруктовая корзина, 1 шт
                            </h4>
                            <span class="card-promo__availability card-promo__available">
                                В наличии
                            </span>
                            <div class="card-promo__prices">
                                <span class="card-promo__new">
                                    3990₽
                                </span>
                                <span class="card-promo__old">
                                    5990 ₽
                                </span>
                                <span class="card-promo__rating">
                                    4.8
                                    <svg class="card-promo__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="promo__item mix category-b">
                    <article class="promo__card card-promo">
                        <a class="card-promo__link" href="#">
    
                        </a>
                        <span class="card-promo__badge card-promo__hit">
    Хит
                        </span>
                        <img class="card-promo__img" src="images/promo/8.jpg" width="100" height="100" alt="promo">
                        <div class="card-promo__items">
                            <h4 class="card-promo__description">
                                Свинина мякоть, 1 кг
                            </h4>
                            <span class="card-promo__availability card-promo__available">
                                В наличии
                            </span>
                            <div class="card-promo__prices">
                                <span class="card-promo__new">
                                    499₽
                                </span>
                                <span class="card-promo__old">
                                    599 ₽
                                </span>
                                <span class="card-promo__rating">
                                    4.6
                                    <svg class="card-promo__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
        <button class="promo__add default__btn" type="button">
            Показать еще
        </button>
    </div>
</section>