<div class="slider">
    <div class="slider__container swiper__container swiper-container">
        <div class="slider__wrapper swiper-wrapper swiper__wrapper">
            <div class="slider__slide swiper__slide swiper-slide" style="background-image: url(images/slider_bg/1.jpg);" height="600" >
                <!-- <img class="swiper-background" src="images/slider_bg/1.jpg" alt="background"> -->
                <div class="container">
                    <div class="slider__inner">
                        <h3 class="slider__title">Свежачок вам в хату
                            <span class="slider__span">
                                скидка -50%
                            </span>
                        </h3>
                        <div class="slider__text">
                            <p>
                                Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
                            </p>
                        </div>
                        <a class="slider__btn default__btn" href="#">
                            Купить сейчас
                        </a>
                    </div>
                </div>
            </div>
            <div class="slider__slide swiper__slide swiper-slide" style="background-image: url(images/slider_bg/2.jpg);" height="600" >
                <!-- <img class="swiper-background" src="images/slider_bg/2.jpg" alt="background"> -->
                <div class="container">
                    <div class="slider__inner">
                        <h3 class="slider__title">Накрути себе томатов
                            <span class="slider__span">
                                Акция: 3 кг по цене 1
                            </span>
                        </h3>
                        <div class="slider__text">
                            <p>
                                Только с 12 по 15 июля скидка на домашние помидорчики
                            </p>
                        </div>
                        <a class="slider__btn default__btn" href="#">
                            Купить сейчас
                        </a>
                    </div>
                </div>
            </div>
            <div class="slider__slide swiper__slide swiper-slide" style="background-image: url(images/slider_bg/3.jpg);" height="600" >
                <!-- <img class="swiper-background" src="images/slider_bg/3.jpg" alt="background"> -->
                <div class="container">
                    <div class="slider__inner">
                        <h3 class="slider__title">Пусть остальние позеленеют от зависти
                            <span class="slider__span">
                                Распродажа зелени
                            </span>
                        </h3>
                        <div class="slider__text">
                            <p>
    
                            </p>
                        </div>
                        <a class="slider__btn default__btn" href="#">
                            Купить сейчас
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper__button swiper__button--prev swiper-button-prev">
    
        </div>
        <div class="swiper__button swiper__button--next swiper-button-next">
    
        </div>
        <div class="swiper-pagination swiper__pagination">
            
        </div>
    </div>
</div>