<section class="section top">
    <div class="container">
        <h2 class="title">
            Топовые товары
        </h2>
        <div class="top__wrapper" data-ref="container-1">
            <ul class="top__filters">
                <li class="top__filter">
                    <button class="top__btn mixitup-control-active" data-filter="all" type="button">
                        Все товары
                    </button>
                </li>
                <li class="top__filter">
                    <button class="top__btn" data-filter=".category-a" type="button">
                        Фрукты
                    </button>
                </li>
                <li class="top__filter">
                    <button class="top__btn" data-filter=".category-b" type="button">
                        Овощи
                    </button>
                </li>
                <li class="top__filter">
                    <button class="top__btn" data-filter=".category-c" type="button">
                        Напитки
                    </button>
                </li>
                <li class="top__filter">
                    <button class="top__btn" data-filter=".category-d" type="button">
                        Бакалея
                    </button>
                </li>
            </ul>
            <ul class="top__content">
                <li class="top__item mix category-a">
                    <!-- <article class="top__card card">
                        <a class="card__link" href="#">
    
                        </a>
                        <div class="card__items">
                            <div class="card__badges badge">
                                <span class="badge__new badge__all">
                                    Новинка
                                </span>
                                <span class="badge__discount badge__all">
                                    -50%
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        </div>
                        <img class="card__img" src="images/cards/1.jpg" width="300" height="225" alt="img">
                        <h3 class="card__description">
                            Ананас, 1кг
                        </h3>
                        <div class="card__bottom">
                            <div class="card_prices price">
                                <span class="price__old">
                                    1999 ₽
                                </span>
                                <span class="price_new">
                                    999 ₽
                                </span>
                            </div>
                            <button class="card__btn" type="button">
                                <svg class="card__cart">
                                    <use xlink:href="images/sprite.svg#cart_icon"></use>
                                </svg>
                            </button>
                        </div>
                    </article> -->
                    <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__new badge__all">
                                    Новинка
                                </span>
                                <span class="badge__discount badge__all">
                                    -50%
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/1.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Ананас, 1кг
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        1999 ₽
                                    </span>
                                    <span class="price_new">
                                        199 ₽
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="top__item mix category-a">
                    <article class="card">
                        
                        
                            <div class="card__badges badge">
                                
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/2.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Лимон, 1кг
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        199 ₽
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="top__item mix category-a">
                    <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__hit badge__all">
                                    Хит
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                        
                        <a class="card__link" href="#">
                            <img class="card__img" src="images/cards/3.jpg" width="300" height="215" alt="img">
                        </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Питахайя красная с белой мякотью, 1шт
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        1019 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="top__item mix category-d">
                    <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__new badge__all">
                                    Новинка
                                </span>
                                <span class="badge__discount badge__all">
                                    -50%
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/4.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        600 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="top__item mix category-b">
                    <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__hit badge__all">
                                Хит
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/5.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Морковь молодая с бабушкиной грядки, 1кг
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        49 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="top__item mix category-c">
                    <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__discount badge__all">
                                    -30%
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/6.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        299 ₽ 
                                    </span>
                                    <span class="price_new">
                                        199 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="top__item mix category-d">
                    <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__new badge__all">
                                    Новинка
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/7.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Кофе с коноплей органический Caffé Salomoni 250г
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        877 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="top__item mix category-b">
                    <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__new badge__all">
                                    Новинка
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/8.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Перец оранжевый, 1кг
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        349 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
        <button class="top__add default__btn" type="button">
            Показать еще
        </button>
    </div>
</section>