<section class="filters">
    <div class="container">
        <div class="filters_top">
            <h3 class="title">
                Каталог продуктов
            </h3>
            <div class="filters__right">
                <form action="#">
                    <select class="filters__name filters__select">
                        <option value="">По названию</option>
                        <option value="">По цене</option>
                        <option value="">3</option>
                    </select>
                    <select class="filters__number filters__select">
                        <option value="">12</option>
                        <option value="">16</option>
                        <option value="">20</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="filters__bottom">
            <ul class="filters__side">
                <li class="filters__item category">
                    <h3 class="filters__description category__description">
                        Категории
                    </h3>
                    <form class="category__form" action="#">
                        <label class="category__label">
                            <input class="category__input" type="checkbox" checked>
                            <span class="category__text">
                                Бургеры
                            </span>
                        </label>
                        <label class="category__label">
                            <input class="category__input" type="checkbox">
                            <span class="category__text">
                                Пицца
                            </span>
                        </label>
                        <label class="category__label">
                            <input class="category__input" type="checkbox">
                            <span class="category__text">
                                Сендвичи
                            </span>
                        </label>
                        <label class="category__label">
                            <input class="category__input" type="checkbox">
                            <span class="category__text">
                                Азиатская кухня
                            </span>
                        </label>
                        <label class="category__label">
                            <input class="category__input" type="checkbox">
                            <span class="category__text">
                                Сеты
                            </span>
                        </label>
                        <label class="category__label">
                            <input class="category__input" type="checkbox">
                            <span class="category__text">
                                Европейская кухня
                            </span>
                        </label>
                        <label class="category__label">
                            <input class="category__input" type="checkbox">
                            <span class="category__text">
                                Напитки
                            </span>
                        </label>
                        <label class="category__label">
                            <input class="category__input" type="checkbox">
                            <span class="category__text">
                                Алкоголь
                            </span>
                        </label>
                    </form>
                </li>
                <li class="filters__item offer">
                    <h3 class="filters__description offer__description">
                        Предложения
                    </h3>
                    <form class="offer__form" action="#">
                        <label class="offer__label">
                            <div class="offer__box">
                                <input class="offer__input" type="checkbox">
                                <span class="offer__checkbox">

                                </span>
                            </div>
                            <span class="offer__text">
                                Со скидкой
                            </span>
                        </label>
                        <label class="offer__label">
                            <div class="offer__box">
                                <input class="offer__input" type="checkbox" checked>
                                <span class="offer__checkbox">

                                </span>
                            </div>
                            <span class="offer__text">
                                Новинка
                            </span>
                        </label>
                        <label class="offer__label">
                            <div class="offer__box">
                                <input class="offer__input" type="checkbox">
                                <span class="offer__checkbox">

                                </span>
                            </div>
                            <span class="offer__text">
                                Хит
                            </span>
                        </label>
                    </form>
                </li>
                <li class="filters__item filters__item--price">
                    <h3 class="filters__description">
                        Цена
                    </h3>

                    <div class="filters__prices">
                        <span class="filters__min">
                            от
                            <input class="filters__from" value="0">
                            ₽
                        </span>
                        <span class="filters__max">
                            до
                            <input class="filters__to" value="0">
                            ₽
                        </span>
                    </div>

                    <form class="filters__form" action="#">
                        <input class="filters__input" type="text" data-min="100" data-max="1200" data-from="100"
                            data-to="1000">
                    </form>
                </li>
            </ul>
            <div class="filters__products products">
                <ul class="products__list">
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/1.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Чизбургер с листьями салата
                            </h3>
        
                            <span class="card__price">
                                160 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
        
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/2.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Бифбургер
                            </h3>
        
                            <span class="card__price">
                                190 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
        
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/3.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Королевский чизбургер
                            </h3>
        
                            <span class="card__price">
                                260 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
        
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/4.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Черный гамбургер
                            </h3>
        
                            <span class="card__price">
                                199 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
    
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/1.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Чизбургер с листьями салата
                            </h3>
        
                            <span class="card__price">
                                160 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
        
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/2.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Бифбургер
                            </h3>
        
                            <span class="card__price">
                                190 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
        
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/3.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Королевский чизбургер
                            </h3>
        
                            <span class="card__price">
                                260 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
        
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/4.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Черный гамбургер
                            </h3>
        
                            <span class="card__price">
                                199 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
    
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/1.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Чизбургер с листьями салата
                            </h3>
        
                            <span class="card__price">
                                160 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
        
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/2.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Бифбургер
                            </h3>
        
                            <span class="card__price">
                                190 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
        
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/3.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Королевский чизбургер
                            </h3>
        
                            <span class="card__price">
                                260 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
        
                    <li class="products__item">
                        <article class="products__card card">
        
                            <a class="card__link" href="#">
        
                                <span class="sr-only">
                                    ссылка на страницу товара
                                </span>
        
                            </a>
        
                            <img class="card__img" src="images/cards/4.jpg" width="140" height="140" alt="гамбургер">
        
                            <h3 class="card__description">
                                Черный гамбургер
                            </h3>
        
                            <span class="card__price">
                                199 руб.
                            </span>
        
                            <button class="card__btn" type="button">
                                В корзину
                            </button>
                        </article>
                    </li>
                </ul>
                <div class="filters__pagination pagination">
                    <a class="pagination__prev pagination__arrows" href="#"></a>
                    <ul class="pagination__list">
                        <li class="pagination__item pagination__item--active">
                            <span href="" class="pagination__link">
                                1
                            </span>
                        </li>
                        <li class="pagination__item">
                            <a href="" class="pagination__link">
                                2
                            </a>
                        </li>
                        <li class="pagination__item">
                            <span href="" class="pagination__link">
                                ...
                            </span>
                        </li>
                        <li class="pagination__item">
                            <a href="" class="pagination__link">
                                9
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a href="" class="pagination__link">
                                10
                            </a>
                        </li>
                    </ul>
                    <a class="pagination__next pagination__arrows" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</section>

