<section class="promo section">
    <div class="container">
        <h3 class="title promo__title">
            Акции и скидки
        </h3>
        <ul class="promo__list">
            <li class="promo__item">
                <a class="promo__link" href="#">
                    <img class="promo__img" src="images/restaurants/1.jpg" alt="пицца" width="370" height="300">
                    <span class="promo__text">
                        Скидка 50% на вторую пиццу
                    </span>
                </a>
            </li>
            <li class="promo__item">
                <a class="promo__link" href="#">
                    <img class="promo__img" src="images/restaurants/5.jpg" alt="картошка-фри" width="370" height="300">
                    <span class="promo__text">
                        Картошечка из KFC даром при заказе бургера
                    </span>
                </a>
            </li>
            <li class="promo__item">
                <a class="promo__link" href="#">
                    <img class="promo__img" src="images/restaurants/6.jpg" alt="бургер" width="370" height="300">
                    <span class="promo__text">
                        Чёрные бургеры на чёрный день 
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>