<section class="tabs">
    <div class="container">
        <div class="tabs__wrapper">
            <div class="tabs__top">
                <a class="tabs__link tabs__link--active" href="#tab-1">
                    Описание
                </a>
                <a class="tabs__link" href="#tab-2">
                    Характеристики
                </a>
                <a class="tabs__link" href="#tab-3">
                    Отзьівьі
                </a>
            </div>
            <div class="tabs__content">
                <div class="tabs__item tabs__item--active" id="tab-1">
                    <div class="tabs__description">
                        <p>
                            Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который
                            способствует укреплению иммунной системы. В составе питайи много клетчатки, она благотворно
                            влияет на работу ЖКТ. Оказывает противовоспалительное действие, так как фрукт богат
                            антиоксидантами. При употреблении питахайи, понижается уровень сахара в крови, улучшается
                            зрение
                            и работа сердечно–сосудистой системы. Так как фрукт низкокалорийный и состоит на 90% из
                            воды,
                            способствует снижению веса.</p>
                        <p>
                            Витамины: С, Е, РР, витамины группы В
                        </p>
                        <p>
                            Микроэлементы: железо, калий, кальций, магний, фосфор
                        </p>
                        <p>
                            Внешний вид товара может отличаться от изображений, представленных на сайте.
                        </p>
                    </div>
                </div>
                <div class="tabs__item" id="tab-2">
                    <div class="tabs__characteristics">
                        <p>
                            <span>
                                Вес:
                            </span>
                            250-350 г;
                        </p>
                        <p>
                            <span>
                                Калорийность (на 100г):
                            </span>
                            50 ккал;
                        </p>
                        <p>
                            <span>
                                Условия хранения:
                            </span>
                            температура от +3 до +8;
                        </p>
                        <p>
                            <span>
                                Другие названия:
                            </span>
                            Драконов фрукт, Глаз дракона;
                        </p>
                        <p>
                            <span>
                                Страна происхождения:
                            </span>
                            Вьетнам;
                        </p>
                        <p>
                            <span>
                                Срок хранения:
                            </span>
                            до 5 дней.
                        </p>
                    </div>
                </div>
                <div class="tabs__item" id="tab-3">
                    <div class="tabs__comments comments">
                        <h3 class="comments__title">
                            Мнения наших клиентов
                        </h3>
                        <div class="comments__item">
                            <div class="comments__content">
                                <img class="comments__img" src="images/avatar/1.jpg" alt="">
                                <div class="comments__info">
                                    <div class="comments__name">
                                        Андрей
                                    </div>
                                    <div class="comments__date">
                                        10.06.2021
                                    </div>
                                </div>
                                <div class="comments__star star__rating" data-rateyo-rating="4">

                                </div>
                            </div>
                            <div class="comments__text">
                                Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!
                            </div>
                        </div>
                        <div class="comments__item">
                            <div class="comments__content">
                                <img class="comments__img" src="images/avatar/1.jpg" alt="">
                                <div class="comments__info">
                                    <div class="comments__name">
                                        Екатерина Белая
                                    </div>
                                    <div class="comments__date">
                                        7.06.2021
                                    </div>
                                </div>
                                <div class="comments__star star__rating" data-rateyo-rating="5">

                                </div>
                            </div>
                            <div class="comments__text">
                                Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий (просто
                                взрыв), но нет. Вкус "сдержанно-сладкий" и очень-очень свежий! Рад, что есть такая
                                возможность - пробовать экзотические фрукты.
                            </div>
                        </div>
                    </div>
                    <form class="comments__rewiev rewiev" action="#">
                        <h4 class="rewiev__title">
                            Оставить отзьів
                        </h4>
                        <div class="rewiev__rating">
                            Ваша оценка *
                            <div class="rewiev__star" data-rateyo-rating="0">

                            </div>
                        </div>
                        <div class="rewiev__send">
                            <div class="rewiev__comment">
                                <label for="rewiev__textarea">
                                    Ваш отзыв *
                                </label>
                                <textarea class="rewiev__textarea" name="" placeholder="Введите текст отзыва"></textarea>
                            </div>

                            <div class="rewiev__inputs">
                                <label for="rewiev__name">
                                    Имя
                                </label>
                                <input class="rewiev__name" type="text" placeholder="Введите ваше имя">

                                <label for="rewiev__email">
                                    Email *
                                </label>
                                <input class="rewiev__email" type="email" placeholder="youremail@mail.com">

                            </div>
                        </div>
                        <label for="">
                            <input name="rewiev__checkbox" type="checkbox">
                            Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
                        </label>
                        <button class="rewiev__btn default__btn" type="submit">
                            Оставить отзыв
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>