<section class="recent">
    <div class="container">
        
        <div class="recent__slider swiper__container swiper-container">
            <h2 class="recent__title title">
                Вас может заинтересовать
            </h2>
            <ul class="swiper__wrapper swiper-wrapper">
                <li class="swiper__slide swiper-slide">
                    <div class="recent__card">
                      <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__new badge__all">
                                    Новинка
                                </span>
                                <span class="badge__discount badge__all">
                                    -50%
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/1.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Ананас, 1кг
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        1999 ₽
                                    </span>
                                    <span class="price_new">
                                        199 ₽
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>  
                    </div>
                </li>
                <li class="swiper__slide swiper-slide">
                    <div class="recent__card">
                       <article class="card">
                        
                        
                            <div class="card__badges badge">
                                
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/2.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Лимон, 1кг
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        199 ₽
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article> 
                    </div>
                </li>
                <li class="swiper__slide swiper-slide">
                    <div class="recent__card">
                       <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__hit badge__all">
                                    Хит
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/3.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Питахайя красная с белой мякотью, 1шт
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        1019 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article> 
                    </div>
                </li>
                <li class="swiper__slide swiper-slide">
                    <div class="recent__card">
                     <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__new badge__all">
                                    Новинка
                                </span>
                                <span class="badge__discount badge__all">
                                    -50%
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/4.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        600 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>   
                    </div>
                </li>
                <li class="swiper__slide swiper-slide">
                    <div class="recent__card">
                     <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__hit badge__all">
                                Хит
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/5.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Морковь молодая с бабушкиной грядки, 1кг
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        
                                    </span>
                                    <span class="price_new">
                                        49 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>   
                    </div> 
                </li>
                <li class="swiper__slide swiper-slide">
                    <div class="recent__card">
                     <article class="card">
                        
                        
                            <div class="card__badges badge">
                                <span class="badge__discount badge__all">
                                    -30%
                                </span>
                            </div>
                            <a class="card__favorite" href="#">
                                <svg class="card__heart">
                                    <use xlink:href="images/sprite.svg#favorite_icon"></use>
                                </svg>
                            </a>
                        
                            <a class="card__link" href="#">
                                <img class="card__img" src="images/cards/6.jpg" width="300" height="215" alt="img">
                            </a>
                        <div class="card__body">
                            <div class="card__info">
                                <span class="card__availability card__available">
                                    В наличии
                                </span>
                                <span class="card__rating">
                                    4.5 
                                    <svg class="card__star">
                                        <use xlink:href="images/sprite.svg#star_icon"></use>
                                    </svg>
                                </span>
                            </div>
                            <a class="card__description" href="#">
                                Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                            </a>
                            <div class="card__bottom">
                                <div class="card_prices price">
                                    <span class="price__old">
                                        299 ₽ 
                                    </span>
                                    <span class="price_new">
                                        199 ₽ 
                                    </span>
                                </div>
                                <button class="card__btn" type="button">
                                    <svg class="card__cart">
                                        <use xlink:href="images/sprite.svg#cart_icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>   
                    </div>
                </li>
            </ul>
            <div class="swiper__button swiper__button--prev swiper-button-prev">
    
            </div>
            <div class="swiper__button swiper__button--next swiper-button-next">
        
            </div>
        </div>
    </div>
</section>