<section class="product-gallery">
    <div class="container">
        <div class="product-gallery__content">
            <!-- <a href="" class="zoom__link"></a> -->
            <!-- <div>
                <div class="owl-carousel">
                    <div>
                        <a data-fancybox="gallery" class="product-gallery__link" href="/images/products/1.jpg">
                            <img class="product-gallery__img" src="/images/products/1.jpg" width="420" height="420"
                                alt="">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" class="product-gallery__link" href="/images/products/1.jpg">
                            <img class="product-gallery__img" src="/images/products/1.jpg" width="420" height="420"
                                alt="">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" class="product-gallery__link" href="/images/products/1.jpg">
                            <img class="product-gallery__img" src="/images/products/1.jpg" width="420" height="420"
                                alt="">
                        </a>
                    </div>


                </div>
            </div> -->



            <div class="swiper__container product-gallery__slider">
                        <div class="swiper__wrapper swiper-wrapper">
                            <div class="swiper__slide swiper-slide">
                                <a data-fancybox="gallery" class="product-gallery__link" href="/images/products/1.jpg">
                                    <img class="product-gallery__img" src="/images/products/1.jpg" width="420"
                                        height="420" alt="">
                                </a>

                            </div>
                            <div class="swiper__slide swiper-slide">
                                <a data-fancybox="gallery" class="product-gallery__link" href="/images/products/1.jpg">
                                    <img class="product-gallery__img" src="/images/products/1.jpg" width="420"
                                        height="420" alt="">
                                </a>
                            </div>
                            <div class="swiper__slide swiper-slide">
                                <a data-fancybox="gallery" class="product-gallery__link" href="/images/products/1.jpg">
                                    <img class="product-gallery__img" src="/images/products/1.jpg" width="420"
                                        height="420" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper__button swiper__button--prev swiper-button-prev">

                        </div>
                        <div class="swiper__button swiper__button--next swiper-button-next">

                        </div>
                        <div class="swiper-pagination swiper__pagination">

                        </div>
                    </div>




            <div class="product-gallery__description">
                <h3 class="product-gallery__title">
                    Питахайя красная с белой мякотью
                </h3>
                <div class="product-gallery__badges">
                    <span class="product-gallery__badge badge__hit">
                        Хит
                    </span>
                </div>
                <div class="product-gallery__numbers">
                    <div class="product-gallery__rating">
                        <span class="product-gallery__vendor">
                            Код:
                            <span class="product-gallery__code">
                                0111111
                            </span>
                        </span>
                        <span class="product-gallery__star star__rating" data-rateyo-rating="4.5">

                        </span>
                    </div>
                    <span class="product-gallery__availability card__available">
                        В наличии
                    </span>
                </div>
                <div class="product-gallery__prices">
                    <span class="product-gallery__old">
                        299 ₽
                    </span>
                    <span class="product-gallery__new">
                        199 ₽
                    </span>
                </div>
                <div class="product-gallery__actions">
                    <form class="product-gallery__form" action="#">
                        <input class="product-gallery__input" type="number" value="1" min="0" max="99">
                        <button class="product-gallery__btn default__btn" type="submit">
                            <svg class="product-gallery__icon">
                                <use xlink:href="images/sprite.svg#cart_icon"></use>
                            </svg>
                            Добавить в корзину
                        </button>
                    </form>
                    <a class="product-gallery__favorite" href="#">
                        <svg class="product-gallery__heart">
                            <use xlink:href="images/sprite.svg#favorite_icon"></use>
                        </svg>
                    </a>
                </div>
                <h4 class="product-gallery__delivery">
                    Доставка и оплата
                </h4>
                <div class="product-gallery__text">
                    <p>
                        Минимальная сумма заказа - 100 руб.
                        Время доставки заказа - 60-120 мин.
                        Оплата осуществляется только банковской картой.
                        Окончательная сумма заказа формируется после сбора товаров.
                    </p>
                </div>
                <a class="product-gallery__detail" href="#">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
</section>